# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
.dsenv/

# Jupyter
.ipynb_checkpoints

# Data and models
*.csv
*.zip
*.pkl
*.h5
*.txt
*.gz
*.npz

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
